.mini-banner {
  display: block;
  color: inherit;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);

  $block-name:                &; // #{$block-name}__element

  & + & {
    margin-top: 16px;

    @media (min-width: $screen-md) {
      margin-top: 24px;
    }

    @media (min-width: $screen-xl) {
      margin-top: 32px;
    }
  }
}
