.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  color: $white;

  &:hover,
  &:focus {
    color: $white;
  }

  svg {
    display: block;
    width: 95px;
    height: 22px;
    fill: currentColor;
  }
}
