.letters {
  margin-bottom: -24px;

  @media (min-width: $screen-md) {
    margin-bottom: -32px;
  }

  $block-name:                &; // #{$block-name}__element

  &__col {
    @include col(xs, 6, $grid-columns, 20px);
    @include col(md, 6);
    @include col(lg, 4);
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }
}
